@{
    ViewData["Title"] = Model.ArticleTitle;
}

<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <p class="text-primary" style="margin-top:30px;">created: @Model.DateTimeCreated</p>
                </div>
                <div><h1 style="text-decoration: underline;text-align: center">@Model.ArticleTitle</h1></div>
                <div style="padding-left:100px;padding-right:100px;">@Html.Raw(@Model.Description)</div>
            </div>
        </div>

    </div>
</div>

<style>
    body {
        background-color: #eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        text-align: justify;
    }

    .card {
        border: solid;
        border-color: darkgray;
        background-color: snow;
    }
</style>
